	body
{
   background-color: #FFFFFF;
   background-image: url(images/14556461382990.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{  position:absolute;
   left:383px;top:149px;width:651px;height:35px;
   text-align:center;z-index:0;
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   
}
#wb_Text1 div
{ 
  text-align: center;
   position:absolute;
   left:383px;
   top:149px;
   width:651px;
   height:35px;
   z-index:0;
   
}


#wb_Text1 span
{
	color:#FFFFFF;
	font-family:'Arial';
	font-size:29px;
}
#Line1
{  
   position:absolute;
   left:396px;top:132px;width:625px;height:3px;
   z-index:1;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Line2
{
   position:absolute;
   left:396px;top:194px;width:625px;height:3px;
   z-index:2;"
   color: #FFFFFF;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_Image1  
{ 
   position:absolute;
   left:682px;top:589px;width:53px;height:43px;
   z-index:3;
}
#wb_Image2
{  position:absolute;
   left:64px;top:689px;width:721px;height:406px;
   z-index:4;
}
#wb_Image3
{ 
	position:absolute;
	left:810px;top:689px;width:439px;height:498px;
	z-index:5;
}
#wb_Image4
{
	position:absolute;
	left:384px;top:279px;width:131px;height:213px;
	z-index:7;
}
#wb_Image5
{
	position:absolute;
	left:528px;top:279px;width:148px;height:122px;
	z-index:8;
}
#wb_Image6
{
	position:absolute;
	left:528px;top:415px;width:211px;height:78px;
	z-index:9;}
#wb_Image7
{
	position:absolute;
	left:690px;top:279px;width:212px;height:122px;
	z-index:10;
}
#wb_Image8
{
	position:absolute;
	left:752px;top:415px;width:150px;height:77px;
	z-index:11;
}
#wb_Image9
{
	position:absolute;
	left:915px;top:279px;width:117px;height:213px;
	z-index:12;
}
#wb_Image10
{
	position:absolute;
	left:64px;top:1199px;width:721px;height:420px;
	z-index:13;
}
#Image1
   {
   
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
  
}

#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
   position:absolute;left:300px;top:1117px;width:249px;height:54px;text-align:center;z-index:6;
   color:#FFFFFF;font-family:Arial;font-size:16px;
}
#wb_Text2 div
{
   text-align: center;
   color:#FFFFFF;font-family:Arial;font-size:16px;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image8
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image10
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   position:absolute;
   left:300px;
   top:1644px;
   width:249px;
   height:54px;
   text-align:center;
   z-index:14;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3 span
{
	color:#FFFFFF;
	font-family:Arial;
	font-size:16px;
}
#wb_Text4 
{
	position:absolute;
	left:905px;
	top:1211px;
	width:249px;
	height:54px;
	text-align:center;
	z-index:15;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4 span
{
	color:#FFFFFF;
	font-family:Arial;
	font-size:16px;
}

