body
{
   background-color: #FFFFFF;
   background-image: url(images/14556461382990.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1_game
{
	position:absolute;left:52px;top:147px;width:615px;height:346px;z-index:0;
}
#wb_Image2_game
{
	position:absolute;left:693px;top:148px;width:612px;height:345px;z-index:1;
}
#wb_Text1_game
{
	position:absolute;left:704px;top:563px;width:590px;height:112px;text-align:justify;z-index:2;
}
#wb_Text1_game span
{
	color:#FFFFFF;font-family:Arial;font-size:13px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text4 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Shape5 a img
{
   position: absolute;
}
#wb_Shape5 span
{
   position: absolute;
}
#wb_Shape5 a .hover
{
   visibility: hidden;
}
#wb_Shape5 a:hover .hover
{
   visibility: visible;
}
#wb_Shape5 a:hover span
{
   visibility: hidden;
}
#Shape5
{
   border-width: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Shape6 a img
{
   position: absolute;
}
#wb_Shape6 span
{
   position: absolute;
}
#wb_Shape6 a .hover
{
   visibility: hidden;
}
#wb_Shape6 a:hover .hover
{
   visibility: visible;
}
#wb_Shape6 a:hover span
{
   visibility: hidden;
}
#Shape6
{
   border-width: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Shape10 a img
{
   position: absolute;
}
#wb_Shape10 span
{
   position: absolute;
}
#wb_Shape10 a .hover
{
   visibility: hidden;
}
#wb_Shape10 a:hover .hover
{
   visibility: visible;
}
#wb_Shape10 a:hover span
{
   visibility: hidden;
}
#Shape10
{
   border-width: 0;
}
#wb_Shape9 a img
{
   position: absolute;
}
#wb_Shape9 span
{
   position: absolute;
}
#wb_Shape9 a .hover
{
   visibility: hidden;
}
#wb_Shape9 a:hover .hover
{
   visibility: visible;
}
#wb_Shape9 a:hover span
{
   visibility: hidden;
}
#Shape9
{
   border-width: 0;
}
#wb_Shape8 a img
{
   position: absolute;
}
#wb_Shape8 span
{
   position: absolute;
}
#wb_Shape8 a .hover
{
   visibility: hidden;
}
#wb_Shape8 a:hover .hover
{
   visibility: visible;
}
#wb_Shape8 a:hover span
{
   visibility: hidden;
}
#Shape8
{
   border-width: 0;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
